<div id="posts">
<% @posts.each do |jizz| %>
	<div class="post_wrap">
		<h2 class="title"><%= link_to jizz.title, jizz %></h2>
		<div class="date"><%= jizz.created_at.strftime("%B, %d, %Y") %>
		</div>
		<%= link_to "Edit", edit_post_path(jizz) %>
	</div>
<% end %>
</div>

<%= paginate @posts %>

<br><br>